.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:var(--aq3);
    height: 50vh;
    width: fit-content;
    padding: 20px 5px;
    border-radius: 20px;
    border: 5px white solid;
    box-shadow: inset var(--cm) 0 0 10px;
}

.container > button {
    transform: rotate(-5deg);
}