.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:var(--bk);
    height: 100vh;
    width: fit-content;
    padding: 20px 5px;
    border-radius: 20px;
    border: 2px var(--cm) solid;
    box-shadow: inset var(--cm) 0 0 10px;
}

.container > button {
    color: var(--cm);
    background: transparent;
}